<!DOCTYPE html>
<html>
<head>
    <title>通用后台管理-小薄在上海</title>
    <load href="/Public/admin/css/style.css" />
    <load href="/Public/admin/js/jquery.js" />




    <load href="/Public/admin/css/select.css" />
    <load href="/Public/admin/js/format+zh_CN,default,corechart.I.js" />
    <load href="/Public/admin/js/cloud.js" />

    <load href="/Public/admin/js/jquery.ba-resize.min.js" />
    <load href="/Public/admin/js/jquery.gvChart-1.0.1.min.js" />
    <load href="/Public/admin/js/jquery.idTabs.min.js" />
    <load href="/Public/admin/js/jsapi.js" />
    <load href="/Public/admin/js/select-ui.min.js" />
</head>
