<include file="Public:head" />
<div class="dealer_bg">
    <div class="dealer_cont">
        <img class="dealer_title" src="{$url_ali}images/about/dealer_title.png" />
        <img class="dealer_font" src="{$url_ali}images/about/dealer_font.png" />
        <div class="rule">
            <strong class="rule_title"><em>活动规则</em></strong>
            <p>1 本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活撒才能hi和那时农村jhscbjhcbjsabcjsnjcnsjcnxjsnjnxcjsncxjsnjcnsjcnjsncjsjc急哦is继续你才是脑残女生从今年初下哦时间睡觉死几次小手机内存性能上出口ijm给是脑残女生从今年初下哦时间睡觉死几次小手机内存性能上出口ijm给是脑残女生从今年初下哦时间睡觉死几次小手机内存性能上出口ijm给是脑残女生从今年初下哦时间睡觉死几次小手机内存性能上出口ijm给是脑残女生从今年初下哦时间睡觉死几次小手机内存性能上出口ijm给本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次活动本次</p>
        </div>
        <div class="step_box">
            <i></i>
            <span class="step_item frist">第一期</span>
            <span class="step_item">2</span>
            <span class="step_item">3</span>
            <span class="step_item">4</span>
            <span class="step_item">5</span>
            <span class="step_item">6</span>
        </div>
        <div class="rank_box">
            <strong class="rank_title">经销商达人榜</strong>
            <table cellspacing="0" cellpadding="0" class="dealer_table">
                <tr>
                    <th>经销商排名</th>
                    <th>名次</th>
                    <th>用户名</th>
                    <th>分数</th>
                </tr>
                <tr>
                    <td>
                        <span class="noun">Top1</span>
                        <a href="javascript:void(0)" class="header img_room">
                            <span></span>
                            <img src="{$url_ali}images/login/header.jpg" />
                        </a>
                          <span class="user_text">
                              <em>青青草</em>
                              <span>
                                  分数:<i class="grade">100</i>
                              </span>
                          </span>
                    </td>
                    <td>1</td>
                    <td>一只小鸟</td>
                    <td>
                        <i class="grade">100</i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="noun">Top2</span>
                        <a href="javascript:void(0)" class="header img_room">
                            <span></span>
                            <img src="{$url_ali}images/login/header.jpg" />
                        </a>
                          <span class="user_text">
                              <em>青青草</em>
                              <span>
                                  分数:<i class="grade">100</i>
                              </span>
                          </span>
                    </td>
                    <td>1</td>
                    <td>一只小鸟</td>
                    <td>
                        <i class="grade">100</i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="noun">Top3</span>
                        <a href="javascript:void(0)" class="header img_room">
                            <span></span>
                            <img src="{$url_ali}images/login/header.jpg" />
                        </a>
                          <span class="user_text">
                              <em>青青草</em>
                              <span>
                                  分数:<i class="grade">100</i>
                              </span>
                          </span>
                    </td>
                    <td>1</td>
                    <td>一只小鸟</td>
                    <td>
                        <i class="grade">100</i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="noun">Top4</span>
                        <a href="javascript:void(0)" class="header img_room">
                            <span></span>
                            <img src="{$url_ali}images/login/header.jpg" />
                        </a>
                          <span class="user_text">
                              <em>青青草</em>
                              <span>
                                  分数:<i class="grade">100</i>
                              </span>
                          </span>
                    </td>
                    <td>1</td>
                    <td>一只小鸟</td>
                    <td>
                        <i class="grade">100</i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="noun">Top5</span>
                        <a href="javascript:void(0)" class="header img_room">
                            <span></span>
                            <img src="{$url_ali}images/login/header.jpg" />
                        </a>
                          <span class="user_text">
                              <em>青青草</em>
                              <span>
                                  分数:<i class="grade">100</i>
                              </span>
                          </span>
                    </td>
                    <td>1</td>
                    <td>一只小鸟</td>
                    <td>
                        <i class="grade">100</i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="noun">Top6</span>
                        <a href="javascript:void(0)" class="header img_room">
                            <span></span>
                            <img src="{$url_ali}images/login/header.jpg" />
                        </a>
                          <span class="user_text">
                              <em>青青草</em>
                              <span>
                                  分数:<i class="grade">100</i>
                              </span>
                          </span>
                    </td>
                    <td>1</td>
                    <td>一只小鸟</td>
                    <td>
                        <i class="grade">100</i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="noun">Top7</span>
                        <a href="javascript:void(0)" class="header img_room">
                            <span></span>
                            <img src="{$url_ali}images/login/header.jpg" />
                        </a>
                          <span class="user_text">
                              <em>青青草</em>
                              <span>
                                  分数:<i class="grade">100</i>
                              </span>
                          </span>
                    </td>
                    <td>1</td>
                    <td>一只小鸟</td>
                    <td>
                        <i class="grade">100</i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="noun">Top8</span>
                        <a href="javascript:void(0)" class="header img_room">
                            <span></span>
                            <img src="{$url_ali}images/login/header.jpg" />
                        </a>
                          <span class="user_text">
                              <em>青青草</em>
                              <span>
                                  分数:<i class="grade">100</i>
                              </span>
                          </span>
                    </td>
                    <td>1</td>
                    <td>一只小鸟</td>
                    <td>
                        <i class="grade">100</i>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<include file="Public:foot" />
