<include file="Public:head" />
<div class="help_top_bg">
    <div class="help_top">
        <a href="#"><img class="logo" src="{$url_ali}images/index/logo.png" /></a>
        <em><i>></i> <span>广告计划</span></em>
    </div>
</div>
<div class="help_banner_bg">
    <div class="help_banner">
        <img src="{$url_ali}images/about/program_banner.jpg" />
    </div>
</div>
<div class="program_cont clearboth">
<div class="program_box clearboth">
    <div class="left">
        <div class="program_new clearboth">
            <div class="text_box">
                <strong>最新案例</strong>
                <em>NEW CASE</em>
                <p>
                    丽丽，美妆店老板：刚开始店铺开张
                    生意很冷清，有段时间业绩不理想。
                    后来使用麦粉吧为店铺拉客户，
                    半年的时间，从麦粉吧获取信息
                    来美妆店的每天持续增长有10-20人。
                </p>
                <img class="program_img" src="{$url_ali}images/about/program_font1.png" />
            </div>
            <div class="program_img1">
                <img class="program_img" src="{$url_ali}images/about/program_img1.jpg" />
            </div>
        </div>

        <div class="adpro_box clearboth">
            <div class="adpro_left">
                <div class="text_box">
                    <strong>广告计划</strong>
                    <em>MAI PLAN</em>
                </div>
                <div class="adpro_item">
                    <img src="{$url_ali}images/about/program_icon1.jpg" />
                    <strong>全国各地区知名公众账号整合平台</strong>
                    <img src="{$url_ali}images/about/program_icon5.jpg" />
                    <p>
                        强大微信技术开发团队支撑，CRM
                        客户管理系统轻松助力微营销。
                    </p>
                </div>
                <div class="adpro_item">
                    <img src="{$url_ali}images/about/program_icon2.jpg" />
                    <strong>全国各地区新闻媒体整合平台</strong>
                    <img src="{$url_ali}images/about/program_icon5.jpg" />
                    <p>
                        将新媒体与传统媒体融合，构成
                        信息时代的立体化传播体系。
                    </p>
                </div>
                <div class="adpro_item">
                    <img src="{$url_ali}images/about/program_icon3.jpg" />
                    <strong>全国口碑营销类水军整合平台</strong>
                    <img src="{$url_ali}images/about/program_icon5.jpg" />
                    <p>
                        权威与口碑同步战略，提升品牌层次
                        同时注重品牌口碑建设。
                    </p>
                </div>
                <div class="adpro_item">
                    <img src="{$url_ali}images/about/program_icon4.jpg" />
                    <strong>全国精准网络广告整合平台</strong>
                    <img src="{$url_ali}images/about/program_icon5.jpg" />
                    <p>
                        其精准化、智能化 、高效的帮助客户
                        效提升广告转化价值。
                    </p>
                </div>
            </div>
            <div class="adpro_right">
                <div class="talents_box">
                    <div class="text_box">
                        <strong>人才济济</strong>
                        <em>TEAM</em>
                        <p>
                            从不嘲笑菜鸟，没有学术成见，放下所谓架子，一群性格迥异的人，做着志同道合的事,“没有出色的工作，一切都淡而无味”。
                        </p>
                        <img class="program_img" src="{$url_ali}images/about/program_img2.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="text_box">
            <strong>招猛人</strong>
            <em>JOIN US</em>
            <img class="program_img" src="{$url_ali}images/about/program_img3.jpg" />
            <p>
                MAICLUB 一个人性/好玩/有归属感的空间<br />一个倡导共同进步的创作凭条<br />有意者均可来坐坐聊聊，我们以茶相待
            </p>
        </div>
        <div class="advertiser_box">
            <strong>>广告主公告</strong>
            <a href="javascript:void(0)">茅台国宝酒：春节送礼，国酒茅台</a>
            <a href="javascript:void(0)">百医百顺：双旦福利多多，快来抢购</a>
            <a href="javascript:void(0)">潮流公主：女神的新衣，78折快入手</a>
            <a href="javascript:void(0)">记录青春最美的时刻，低至58折</a>
            <a href="javascript:void(0)">年终大换装，惊喜连连不断！</a>
            <a href="javascript:void(0)">宫廷普洱：双旦热促，超值优惠</a>
        </div>
        <div class="advertiser_box">
            <strong>>广告主活动推荐</strong>
            <a href="javascript:void(0)">吃喝玩乐，嗨爆寒假！</a>
            <a href="javascript:void(0)">冬季大促3折起+买2享3</a>
            <a href="javascript:void(0)">年终大作战，嗨翻春节</a>
            <a href="javascript:void(0)">精品女装不容错过，全场5折大抢购</a>
            <a href="javascript:void(0)">迎接双旦到来，购物休闲两不误！</a>
            <a href="javascript:void(0)">春节劲爆优惠买买买~~~全家总动员</a>
        </div>
    </div>
</div>
<div class="program_hint clearboth">
    <div class="left">
        <strong class="left_title">MAICLUB广告优势</strong>
        <div class="hint_item clearboth">
            <img class="hint_img" src="{$url_ali}images/about/hint_img1.png" />
            <div class="hint_text">
                <strong>提高PC端流量</strong>
                <p>精准广告投放，增加网页端有效流量。高效提升网站排名，提高网站价值。</p>
            </div>
        </div>
        <div class="hint_item clearboth">
            <img class="hint_img" src="{$url_ali}images/about/hint_img2.png" />
            <div class="hint_text">
                <strong>提高移动端流量</strong>
                <p>手机端广告投放，增加网站移动端有效流量，综合提高网站排名。</p>
            </div>
        </div>
        <div class="hint_item clearboth">
            <img class="hint_img" src="{$url_ali}images/about/hint_img3.png" />
            <div class="hint_text">
                <strong>提高微信关注量</strong>
                <p>提高微信端的关注量和微信文章的阅读量。</p>
            </div>
        </div>
    </div>
    <div class="center">
        <div class="text_box">
            <strong>我们都爱“搞”</strong>
            <em>CULTURE</em>
            <p>
                工作要狠狠的“搞”<br />
                客户要狠狠的“搞”<br />
                同事要狠狠的“搞”<br />
                只要有底线<br />
                没有什么不能“搞”
            </p>
        </div>
        <img class="pro_img img1" src="{$url_ali}images/about/pro_img1.jpg" />
        <img class="pro_img img2" src="{$url_ali}images/about/pro_img2.jpg" />
        <img class="pro_img img3" src="{$url_ali}images/about/pro_img3.jpg" />
    </div>
    <div class="right">
        <div class="text_box">
            <strong>我的小伙伴们</strong>
            <em>COOPERATIVE<br />PARTNER</em>
            <p>
                感谢CCTV，感谢MTV，感谢Channel V<br />
                让我有机会认识一群志同道合的小伙伴们<br />
                指点方案，激扬文字<br />
                一同到中流击水<br />
                看广告潮流，浪遏飞舟
            </p>
        </div>
        <img class="logobox" src="{$url_ali}images/about/logobox.jpg" />
    </div>
</div>
<div class="contact_box clearboth">
    <div class="left">
        <strong class="contact_title">联系我们</strong>
        <p>麦联盟客服热线：５４４６６５（周一至周日，9:00-12:00，13:00-18:00）</p>
        <p>选择您关注的产品，查看相应代理商或电话营销：</p>
        <div class="left_item">
            <span>服务城市：</span>
            <select class="city_sel" id="pro" name="province">
                <option value=""  >请选择</option>
                <foreach name="province" item="row">
                    <option value="{$row.id}"  >{$row.categoryname}</option>
                </foreach>
            </select>
            <select class="city_sel" id="city" name="city">
                <option value=""  >请选择</option>
            </select>

        </div>
        <div class="left_item">
            <span>服务产品：</span>
            <select class="city_sel">
                <option>套餐1</option>
                <option>套餐2</option>
                <option>套餐3</option>
            </select>
        </div>
        <table cellspacing="0" cellpadding="0" class="contact_table" id="agent">
            <tr id="ahentL">
                <th>城市</th>
                <td>代理级别</td>
                <td>代理商</td>
                <td>联系人</td>
                <td>电话</td>
            </tr>

        </table>
    </div>
    <div class="right">
        <strong class="contact_title">留言信息</strong>
        <p>您也可以提交您的联系信息,<br />我们的工作人员会尽快联系您！</p>
        <form action="/Other/messageBoard" method="post" id="messageBoard">
        <table cellspacing="0" cellpadding="0" class="submit_table">
            <tr>
                <th>姓名：</th>
                <td>
                    <input type="text" class="submit_text" id="name" name="name"/>
                    <span style="color:red" class="name_error_messages"></span>
                </td>
            </tr>
            <tr>
                <th>手机：</th>
                <td>
                    <input type="text" class="submit_text" id="telephone" name="telephone"/>
                    <span style="color:red" class="mobile_error_messages"></span>
                </td>
            </tr>
            <tr>
                <th>邮箱：</th>
                <td>
                    <input type="text" class="submit_text" id="email" name="email"/>
                    <span style="color:red" class="email_error_messages"></span>
                </td>
            </tr>
            <tr>
                <th>留言：</th>
                <td>
                    <textarea class="submit_txta" id="details" name="details"></textarea>
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <input type="button" class="submit_btn" value="立即提交" id="submit_button" />
                </td>
            </tr>
        </table>
        </form>
    </div>
</div>
</div>

<include file="Public:foot" />
<script>
    $(function(){
        $("body").css("background","#fff");
    })
</script>
<script>
    /*
     *姓名
     */
    function checkName(){
        var Name= $.trim($('#name').val());
        var errorMessage = null ;
        var ret = null;
        if(Name.length == ''){
            errorMessage = "亲，姓名不能为空";
            ret = false;
        }else{
            errorMessage = "";
            ret = true;
        }
        $('.name_error_messages').text(errorMessage);
        return ret;
    }
    /*
     *校验手机号
     */
    function checkPhone(){
        var UserPhone = $.trim($("#telephone").val());
        var errorMessage = null ;
        var ret = null;
        if(UserPhone.length == ''){
            errorMessage = "亲，手机不能为空哦" ;
            ret = false;
        }else if(!UserPhone.match(/^(13[0,1,2,3,4,5,6,7,8,9]|17[6,7,8]|15[0,1,2,3,4,5,6,7,8,9]|18[0,1,2,3,4,5,6,7,8,9]|14[5,7])\d{8}$/)){
            errorMessage = "亲，手机格式不对哦" ;
            ret = false;
        }else{
            errorMessage = '';
            ret = true;
        }
        $(".mobile_error_messages").text(errorMessage);
        return ret;
    }
    /*
     *邮箱
     */
    function checkEmail(){
        var Email = $.trim($("#email").val());
        var errorMessage = null ;
        var ret = null;
        if(Email.length == ''){
            errorMessage = "亲，邮箱不能为空哦" ;
            ret = false;
        }else{
            errorMessage = '';
            ret = true;
        }
        $(".email_error_messages").text(errorMessage);
        return ret;
    }

    $("#telephone").blur(function(){
        checkPhone();
    });
    $("#name").blur(function(){
        checkName();
    });
    $("#email").blur(function(){
        checkEmail();
    });

    $("#submit_button").click(function(){
        if(checkPhone()==false){
            return false;
        }else if(checkName() == false ){
            return false;
        }else if(checkEmail() == false ){
            return false;
        }else{
            $("#messageBoard").submit();
        }
    });
</script>
<script>
    $('#pro').change(function(){
        var pro= $(this).val();
        $('#city  option[value!=""]').remove();
        $.ajax({
            type: "GET",
            url: "/ajax/city",
            data: {"pro":pro},
            dataType:'json',
            success:function(data){
                if(data){
                    for(var i=0;i<data.length;i++){
                        $('#city').append('<option value="'+data[i].id+'"  >'+data[i].categoryname+'</option>');
                    }
                }
            }
        })
    })
    $('#city').change(function(){
        var city= $(this).val();
        $('#ahentL').siblings().remove();
        $.ajax({
            type: "GET",
            url: "/ajax/contactUs",
            data: {"city":city},
            dataType:'json',
            success:function(data){
                if(data){
                   for(var i=0;i<data.length;i++){
                       $('#agent').append('<tr><th>'+data[i].location+'</th><td>'+data[i].level+'</td><td>'+data[i].agentname+'</td><td>'+data[i].realname+'</td><td>'+data[i].telephone+'</td></tr>')
                   }
                }
            }
        })
    })
</script>
