<include file="Public:head" />
<div class="help_top_bg">
    <div class="help_top">
        <a href="#"><img class="logo" src="{$url_ali}images/index/logo.png" /></a>
        <em><i>></i> <span>帮助中心</span></em>
    </div>
</div>
<div class="help_banner_bg">
    <div class="help_banner">
        <img src="{$url_ali}images/about/help_banner.jpg" />
    </div>
</div>
<div class="help_box clearboth">
    <div class="help_item item_1">
        <strong>账号管理</strong>
        <a href="/helpList/">收不到验证码怎么办？</a>
        <a href="/helpList/">怎么找回密码或用户名？</a>
        <a href="/helpList/">怎么注册麦粉吧帐号？</a>
        <a href="/helpList/">怎么登录麦粉吧账户？</a>
        <a href="/helpList/">为什么验证时提示手机号码已注册过？</a>
        <a href="/helpList/">怎么更换/解除已验证的手机号？</a>
        <a href="/helpList/" class="help_more">查看更多>></a>
    </div>
    <div class="help_item item_2">
        <strong>付费推广</strong>
        <a href="/helpList/">麦粉吧有哪些付费产品？</a>
        <a href="/helpList/">如何查询付费产品价格？</a>
        <a href="/helpList/">什么是推广套餐包？如何购买使用？</a>
        <a href="/helpList/">麦粉吧有哪些充值方式？</a>
        <a href="/helpList/">如何充值麦粉吧账户？</a>
        <a href="/helpList/" class="help_more">查看更多>></a>
    </div>
    <div class="help_item item_3">
        <strong>防骗常识</strong>
        <a href="/helpList/">安全拼车小贴士？</a>
        <a href="/helpList/">麦粉吧为什么坚持见面交易？</a>
        <a href="/helpList/">麦粉吧物品交易安全须知</a>
        <a href="/helpList/">宠物买卖你不知道的那些事儿</a>
        <a href="/helpList/">找工作，拒绝猫腻！</a>
        <a href="/helpList/">二手车交易的那些坑</a>
        <a href="/helpList/" class="help_more">查看更多>></a>
    </div>
    <div class="help_item item_4">
        <strong>其他问题</strong>
        <a href="/helpList/">号码、公司名称被冒用如何处理？？</a>
        <a href="/helpList/">营业执照认证须知</a>
        <a href="/helpList/">留言功能使用介绍</a>
        <a href="/helpList/">提高信息效果的小技巧</a>
        <a href="/helpList/" class="help_more">查看更多>></a>
    </div>
</div>
<include file="Public:foot" />
<script>
    $(function(){
        $("body").addClass("gray");
    })
</script>