<include file="Public:head" />
<div class="join_banner_bg">
    <div class="join_banner">
        <img src="{$url_ali}images/about/join_banner.jpg" />
    </div>
</div>
<div class="join_cont">
    <img class="title" src="{$url_ali}images/about/title_1.png" />
    <div class="join_text">
        <strong>抓住商机就是赢家。任何时候，开始努力永远都不晚</strong>
        <p>麦粉吧致力于为企业提供互联网与移动互联网整合营销,专业为企业和商家提供营销等一系列服务。公司扎根于合肥，辐射全国，公司服务麦粉吧致力于为企业提供互联网与移动互联网整合营销,专业为企业和商家提供营销等一系列服务。公司扎根于合肥，辐射全国，公司服务过的客户遍布全国各地，至今已经有10万多企业选择了易微传媒并已直接受益。<br />公司核心团队均来自于微博、微信、淘宝等知名的互联网公司。 </p>
    </div>
    <div class="join_list">
        <div class="join_room">
            <div class="join_item">
                <img src="{$url_ali}images/about/join_img1.jpg" />
                <strong>行业内最专业的品牌保障</strong>
                <p>具备专业的客户服务；
                    网络资源社区化电子商务整合；
                    具针对性的互联网营销、微信宣传推广；
                    具备先进的互联网技术、功能全面的管理系统。
                </p>
            </div>
            <div class="join_item">
                <img src="{$url_ali}images/about/join_img2.jpg" />
                <strong>合作运营的创业平台</strong>
                <p>加入麦粉吧成为平台的地区合作伙伴，不仅仅是一个代理商，更是一个可以共同创业、共同成长的整体。和麦粉吧一起成长，快速占领本地微信营销市场。</p>
            </div>
            <div class="join_item">
                <img src="{$url_ali}images/about/join_img3.jpg" />
                <strong>巨大的利润空间</strong>
                <p>低投资，高回报，利润空间不可限量，做一单成一单。市场有多大，利润就有多大。</p>
            </div>
        </div>
    </div>
    <img class="title" src="{$url_ali}images/about/title_2.png" />
    <table cellspacing="0" cellpadding="0" class="join_table">
        <tr>
            <th class="Text_c">序号</th>
            <th>加盟条件</th>
        </tr>
        <tr>
            <td class="Text_c">1</td>
            <td>有自己的公司和营运场所</td>
        </tr>
        <tr>
            <td class="Text_c">2</td>
            <td>具备3名以上从业人员进行产品的销售</td>
        </tr>
        <tr>
            <td class="Text_c">3</td>
            <td>授权代理商启动资金：5-13万</td>
        </tr>
        <tr>
            <td class="Text_c">4</td>
            <td>认可百度传媒加盟理念</td>
        </tr>
    </table>
    <img class="join_img" src="{$url_ali}images/about/join_img4.jpg" />
    <div class="support_list">
        <div class="support_item">
            <img class="title" src="{$url_ali}images/about/title_3.png" />
            <p>1.免费为代理商开通一个全功能的演示账号，并且后期免费代操作2个客户码</p>
            <p>2.提供产品后台无缝式一对一使用培训</p>
            <p>3.提供平台中的问题修复、细节操作、使用功能的培训</p>
            <p>4.提供合作伙伴市场运营的相关支持，如活动支持、宣传支持等等</p>
        </div>
        <div class="support_item">
            <img class="title" src="{$url_ali}images/about/title_4.png" />
            <p>1.合作伙伴后台技术的安全性、稳定性维护</p>
            <p>2.提供合作伙伴的大客户个性化定制的支持</p>
            <p>3.七十二小时客户技术沟通的支持</p>
            <p>4.提供安装、调试、运行产品后台</p>
        </div>
        <div class="support_item">
            <img class="title" src="{$url_ali}images/about/title_5.png" />
            <p>1.提供宣传手册、方案、销售PPT、报价单、销售合同等销售材料</p>
            <p>2.提供销售人员的销售培训、产品培训、移动互联网相关知识培训</p>
            <p>3.为合作伙伴提供当地大客户的谈判、沟通、公关、方案、技术支持协调工作</p>
        </div>
    </div>
    <div class="agency_box">
        <img class="title" src="{$url_ali}images/about/title_6.png" />
        <p>李经理：18956063908</p>
        <p class="site_p">北方区域：黑龙江、吉林省、辽宁省、北京市、天津市、河北省、内蒙古、青海省、山西省、陕西省、新疆区、山东省、安徽省、浙江省、江西省、上海市</p>
        <p>范经理：18956063908</p>
        <p class="site_p">南方区域：海南省、广东省、广西省、福建省、贵州省、云南省、四川省、重庆市、宁夏区、湖南省、湖北省、河南省、江苏省、西藏区</p>
    </div>
</div>
<include file="Public:foot" />