<include file="Public:head" xmlns="http://www.w3.org/1999/html"/>
<div class="login_container">
    <div class="login_room">
        <img class="login_bg" src="{$url_ali}images/login/login_bg.jpg" />
        <span class="login_line1_bg"><img class="login_line1" src="{$url_ali}images/login/login_line1.png" /></span>
        <span class="login_line2_bg"><img class="login_line2" src="{$url_ali}images/login/login_line2.png" /></span>
        <img class="login_star1" src="{$url_ali}images/login/login_star.png" />
        <img class="login_star2" src="{$url_ali}images/login/login_star.png" />
        <img class="login_logo" src="{$url_ali}images/login/login_logo.png" />
        <img class="login_font1" src="{$url_ali}images/login/login_font1.png" />
        <img class="login_font2" src="{$url_ali}images/login/login_font2.png" />
        <span class="meteor meteor_1"><img src="{$url_ali}images/login/meteor_1.png" /></span>
        <span class="meteor meteor_2"><img src="{$url_ali}images/login/meteor_2.png" /></span>
        <span class="meteor meteor_3"><img src="{$url_ali}images/login/meteor_3.png" /></span>
        <form action="/Register/login" enctype="multipart/form-data" method="post"/>
        <div class="login_cont">
            <span class="login_error"></span>
            <strong class="login_title">用户登录<em class="verify_item"></em>
            </strong>
            <div class="login_box">
                <p>请输入您的用户名：</p>
                <input type="text" class="login_txt" name="user" id="user" />
                <p>请输入您的密码：</p>
                <input type="password" class="login_txt"  name="password" id="password"/>
                <p class="register_p clearboth"><a href="/commonUserRegister/">用户注册</a><i>|</i><a href="/agentRegister/">代理商注册</a><a href="#" class="forget">忘记密码?</a></p>
                <input type="button" name="login_sub" class="login_btn" value="登录" />
            </div>
        </div>
        </form>
    </div>
</div>
<include file="Public:foot" />
<script>
    $('.login_btn').click(function(){
        var user = $("#user").val();
        var password = $("#password").val();
        var data = {"user":user,"password":password};
        var errorMessage = null ;
        var ret = null;
        if(user.length == ''){
            errorMessage = "亲，用户名不能为空哦" ;
            $(".verify_item").text(errorMessage);
            ret = false;
        }else{
            $.post('/Register/login',data,function(res){
                if(res==1||res==2){
                    errorMessage = "" ;
                    location.href='/'
                }else{
                    errorMessage = "用户名或密码不正确" ;
                    $(".verify_item").text(errorMessage);
                }
            });
        }
    });
</script>
<script>
    $(function () {
        if ($(window).height() > 700)
        {
            $(".login_container").height($(window).height() - 48 - 78);
        }
        $(window).resize(function () {
            if ($(window).height() > 700) {
                $(".login_container").height($(window).height() - 48 - 78);
            }
        })
    })
</script>
