<include file="Public:head" />
<div class="pact_banner_bg">
    <div class="pact_banner">
        <img src="{$url_ali}images/about/pact_banner.jpg" />
        <div class="banner_text">
            <strong>连接你我身边需求</strong>
            <p>麦粉吧致力于连接你我身边的需求，通过建立一个可靠的、温暖的、有人情味的平台，让大家可以简单、快速、方便地安全盈利。</p>
        </div>
    </div>
</div>
<div class="pact_box box1">
    <h3>当你使用麦粉吧的时候，我们希望你能做到</h3>
    <div class="pact_list">
        <div class="pact_item">
            <img src="{$url_ali}images/about/pact_icon1.jpg" />
            <em>尊重他人</em>
        </div>
        <div class="pact_item">
            <img src="{$url_ali}images/about/pact_icon2.jpg" />
            <em>诚信</em>
        </div>
        <div class="pact_item">
            <img src="{$url_ali}images/about/pact_icon3.jpg" />
            <em>人情味</em>
        </div>
    </div>
</div>
<div class="pact_text">
    <p class="text_item">请相信麦粉吧的用户都和你一样带着美好的愿望来到这里，请在发布信息，联系发布人，见面交易等时候表现出对他人的尊重。</p>
    <p class="text_item">请确保你发布的信息是真实的，诚实地沟通和交易。</p>
    <p class="text_item">请了解使用麦粉吧的人可能是和你一样的个人，请在发布信息的时候尽量用有趣的、有个人色彩的方式描述，在交易时理解对方是和你一样的个人。</p>
</div>
<div class="pact_box box2">
    <img src="{$url_ali}images/about/pact_icon4.jpg" />
    <h3>如果你发布的信息没有遵守上述规则，将不会通过审核或将被删除。</h3>
    <p>麦粉吧需要大家一起来维护这个安全、可靠、有趣的平台，如果你发现有信息违反上述规则或者发现你不想看到的信息，希望你能通过举报的方式告诉我们，我们需要大家的帮助。</p>
</div>
<include file="Public:foot" />
<script>
    $(function(){
        $("body").addClass("gray");
    })
</script>
