<include file="Public:head" />
<div class="product_box box1">
    <div class="product_room">
        <div class="phone_box">
            <img class="phone_1" src="{$url_ali}images/product/phone_1.png" />
            <img class="phone_2" src="{$url_ali}images/product/phone_2.png" />
            <img class="phone_3" src="{$url_ali}images/product/phone_3.png" />
            <img class="phone_4" src="{$url_ali}images/product/phone_4.png" />
        </div>
        <img class="font font_1_1" src="{$url_ali}images/product/font_1_1.png" />
        <img class="img line_1" src="{$url_ali}images/product/line_1.png" />
        <p class="font font_1_2">麦粉吧主要业务是基于互联网以及移动互联网用户的使用习惯，针对在线推广、<br />自媒体开发运营、微网站建设等方面开发平台，集合微信公众号<br />功能开发，逛圈线上推广平台，营销策划等业务为主。</p>
    </div>
</div>
<div class="product_box box2">
    <div class="product_room">
        <div class="text_box box1">
            <strong>推广平台</strong>
            <em>麦粉吧为您提供一站式推广平台</em>
            <p>分析、定位、思考，通过这三个步骤我们可以让事情变的更加透明简单化。基于对市场和客群的分析，我们只生产解决问题的推广。平台依托强大的社交媒体，通过赚分享，使商品得到最大化的传播与推广，真正实现商家信息产品的主动传递与精准投放，全面引爆商家的推广平台。分享者通过赚分享可以得到商户所提供的广告费用，赚取佣金，真正的实现商家产品信息的注定传递与精准投放，以促进商家的产品销售。</p>
        </div>
        <div class="point_box box1">
            <img src="{$url_ali}images/product/img_2_1.png" />
            <strong>推广</strong>
            <em>商家在平台发布产品信息用户通过有偿分享传播信息。</em>
        </div>
        <div class="point_box box2">
            <img src="{$url_ali}images/product/img_2_2.png" />
            <strong>赚分享</strong>
            <em>通过平台把任务分享到朋友圈，达到一定的点击量即可获得佣金。</em>
        </div>
        <a href="javascript:void(0)" class="entrance"></a>
    </div>
</div>
<div class="product_box box3">
    <div class="product_room">
        <div class="intro_box">
            <img class="img img_3_1" src="{$url_ali}images/product/img_3_1.png" />
            <img class="img img_3_2" src="{$url_ali}images/product/img_3_2.png" />
            <img class="img img_3_3" src="{$url_ali}images/product/img_3_3.png" />
            <img class="img img_3_4" src="{$url_ali}images/product/img_3_4.png" />
            <span class="box3_line line_1"><i></i></span>
            <span class="box3_line line_2"><i></i></span>
            <span class="box3_line line_3"><i></i></span>
            <div class="text_box text_1">
                <strong>全面的营销策划</strong>
                <p>根据市场环境变化和自身资源状况做出相适应的规划，从而提高产品销售，获取利润。</p>
            </div>
            <div class="text_box text_2">
                <strong>良好的用户体验</strong>
                <p>以用户为中心、以人为本。界面给用户使用、交流过程的体验，强调互动、交互特性。给用户心理上的体验，强调心理认可度。</p>
            </div>
            <div class="text_box text_3">
                <strong>高效的营销推广</strong>
                <p>为商家量身打造推广方式，线上线下同时进行，为商家挖掘潜在消费者。</p>
            </div>
            <div class="text_box text_4">
                <strong>专业的文案编写</strong>
                <p>各行业专业策划及写作工作者，有着强大的行销策划能力和丰富的写作经验。策划创意贴合实际情况，可操作性强。</p>
            </div>
        </div>
        <div class="hand_box">
            <div class="scrn_box">
                <img class="scrn_shade" src="{$url_ali}images/product/phone_shade.png" />
                <img class="scrn_img" src="{$url_ali}images/product/phone_img.jpg" />
            </div>
        </div>
    </div>
</div>
<div class="product_box box4">
    <div class="product_room">
        <div class="circle_box">
            <img class="img img_4_1" src="{$url_ali}images/product/img_4_1.png" />
            <img class="img img_4_2" src="{$url_ali}images/product/img_4_2.png" />
            <img class="img img_4_3" src="{$url_ali}images/product/img_4_3.png" />
            <img class="img img_4_4" src="{$url_ali}images/product/img_4_4.png" />
        </div>
        <div class="text_box box2">
            <strong>利器在手，边赚边走</strong>
            <em>坐公交，挤地铁，闲暇时间，手指动动，收益于股掌之间！</em>
            <p>敷着面膜，连着WiFi，吃着零食，喝着冷饮......悠哉悠哉的刷刷微信，看看电视剧，听听音乐，逛逛商场，分分钟钱往账户里流。人生就是这么嘚瑟呀!我们最渴望拥有的就是自由，“赚钱自由，生活自由”。</p>
        </div>
    </div>
</div>
<include file="Public:foot" />
<script>
    $(function () {
        reset();



        $(window).resize(function () {
            reset();
        })
        $(window).scroll(function () {
            reset();
        })
        function reset() {
            var wt = $(window).scrollTop();
            var wh = $(window).height();
            $(".product_box").each(function () {
                var this_t = 350 - (wh - $(this).offset().top);
                var this_u = 700 - (wh - $(this).offset().top);
                if (wt > this_t) {
                    $(this).addClass("run_1");
                }
                if (wt > this_u) {
                    $(this).addClass("run_2");
                }
            })
        }
    })
</script>