<include file="Public:head" />
<div class="help_top_bg" style="border-bottom:1px solid #e8e8e8;">
    <div class="help_top">
        <a href="#"><img class="logo" src="{$url_ali}images/index/logo.png" /></a>
        <em><i>></i> <span>电话号码盗用</span></em>
    </div>
</div>
<div class="safety_cont">
    <p class="safety_p">麦粉吧为了防止电话号码冒用已经做了一些预防措施，例如：所有注册用户都必须验证手机，冒用用户账户冻结，等等。并且，我们仍在努力找到更好的措施。但是，那些别有用心的人还是会找出一些我们无法防止的方式来恶意冒用他人的电话号码。由此给您造成的不便，我们深感歉意，也希望获得您的谅解。</p>
    <strong>您可以通过以下步骤快速删除冒用您电话号码的信息。</strong>
    <div class="search_box clearboth">
        <input type="text" class="search_txt" />
        <input type="button" class="search_btn" value="查找" />
    </div>
</div>
<include file="Public:foot" />