<include file="Public:head" />
<div class="school_cont" style="background:#091831;">
    <div class="school_box box1">
        <div class="school_room">
            <img class="box_border" src="{$url_ali}images/school/box_border.png" />
            <img class="dots" src="{$url_ali}images/school/dots_1.png" />
            <img class="bigdot" src="{$url_ali}images/school/bigdot_1.png" />
            <img class="phone" src="{$url_ali}images/school/box1_phone.png" />
            <div class="school_titlebox">
                <img class="school_title" src="{$url_ali}images/school/school_title.png" />
                <img class="school_chip" src="{$url_ali}images/school/school_chip.png" />
            </div>
            <div class="triangle_box">
                <img class="triangle_1" src="{$url_ali}images/school/triangle_1_1.png" />
                <img class="triangle_2" src="{$url_ali}images/school/triangle_1_2.png" />
                <img class="triangle_3" src="{$url_ali}images/school/triangle_1_3.png" />
                <img class="triangle_4" src="{$url_ali}images/school/triangle_1_4.png" />
                <img class="triangle_5" src="{$url_ali}images/school/triangle_1_5.png" />
                <img class="triangle_6" src="{$url_ali}images/school/triangle_1_6.png" />
            </div>
            <div class="ad_box">
                <em>营销用语</em>
                <strong>自定义广告语</strong>
                <p>精心定制广告语，精准吸引意向客户，避免垃圾粉丝。提高营销质量，找准客户群体。增强消费概率！</p>
            </div>
            <div class="font_box">
                <p>什么是微营销？</p>
                <p>
                    微营销是以移动互联网为主要沟通平台，配合传统网络媒体和大众媒体，通过有策略、可管理、持续性的线上线下沟通
                    ，建立和转化、强化顾客关系，实现客户价值的一系列过程。中国互联网协会网络营销工作委员会专家委员杜红超先生
                    提出，从操作理念上，微营销更强调“潜移默化”、“细节入微”和“精妙设计”。微营销的核心手段是客户关系管理
                    ，通过客户关系管理，实现路人变客户、客户变伙伴的过程。微营销的基本模式是拉新（发展新客户）、顾旧（转化老
                    客户）和结盟（建立客户联盟），企业可以根据自己的客户资源情况，使用以上三种模式的一种或多种进行微营销。他
                    总结的微营销九种标准动作是，吸引过客、归集访客、激活潜客、筛选试客、转化现客、培养忠客、挖掘大客、升级友
                    客、结盟换客。
                </p>
            </div>
            <div class="arrow_box">
                <img class="arrow_font" src="{$url_ali}images/school/arrow_font.png" />
                <img class="school_arrow" src="{$url_ali}images/school/school_arrow.png" />
            </div>
        </div>
    </div>
    <div class="school_box box2">
        <div class="school_room">
            <img class="box_border" src="{$url_ali}images/school/box_border.png" />
            <img class="dots" src="{$url_ali}images/school/dots_2.png" />
            <img class="bigdot" src="{$url_ali}images/school/bigdot_2.png" />
            <img class="phone" src="{$url_ali}images/school/box2_phone.png" />
            <div class="rocket">
                <div class="rocket_box">
                    <img class="rocket_img" src="{$url_ali}images/school/rocket_img.png" />
                    <img class="rocket_fire" src="{$url_ali}images/school/rocket_fire.png" />
                </div>
            </div>
            <div class="triangle_box">
                <img class="triangle_1" src="{$url_ali}images/school/triangle_2_1.png" />
                <img class="triangle_2" src="{$url_ali}images/school/triangle_2_2.png" />
                <img class="triangle_3" src="{$url_ali}images/school/triangle_2_3.png" />
                <img class="triangle_4" src="{$url_ali}images/school/triangle_2_4.png" />
                <img class="triangle_5" src="{$url_ali}images/school/triangle_2_5.png" />
                <img class="triangle_6" src="{$url_ali}images/school/triangle_2_6.png" />
            </div>
            <div class="ad_box">
                <em>营销用语</em>
                <strong>自定义广告语</strong>
                <p>精心定制广告语，精准吸引意向客户，避免垃圾粉丝。提高营销质量，找准客户群体。增强消费概率！</p>
            </div>
            <div class="font_box">
                <p>微官网——快速帮用户打造超炫微信移动网站</p>
                <p>
                    微官网是指将企业信息、服务、活动等内容通过微信网页的方
                    式进行表现，用户只要通过简单的设置，就能快速生成属于您
                    自己的微信3G网站，并且有各种精美模板，供您选择，还有
                    自定义模版，可以设计出自己的风格，不但提高了信息量，
                    也使信息的展现更加赏心悦目，进一步提高用户体验。
                </p>
            </div>
        </div>
    </div>
    <div class="school_box box3">
        <div class="school_room">
            <img class="box_border" src="{$url_ali}images/school/box_border.png" />
            <img class="dots" src="{$url_ali}images/school/dots_1.png" />
            <img class="bigdot" src="{$url_ali}images/school/bigdot_1.png" />
            <img class="phone" src="{$url_ali}images/school/box3_phone.png" />
            <img class="belle" src="{$url_ali}images/school/belle_1.png" />
            <div class="ad_box">
                <em>营销用语</em>
                <strong>自定义广告语</strong>
                <p>精心定制广告语，精准吸引意向客户，避免垃圾粉丝。提高营销质量，找准客户群体。增强消费概率！</p>
            </div>
            <div class="font_box">
                <p>微活动——优惠券+刮刮卡+大转盘+微投票</p>
                <p>
                    我们将利用微信的强交互性，让您通过对互动流程、环节和方式的设
                    计，运用各种设计活动从而实现与用户的互动交流,，微整合系统互动
                    符合微信娱乐性强的产品本质，微盟内置了专为商家定制的“商家营
                    销服务模块”，包括优惠券推广模块、幸运大转盘推广模块、刮刮卡
                    抽奖模块、微投票、一战到底等功能模块，商家通过发起营销活动，
                    对已有客户进行再营销，通过不断更新补充主题，用户可以反复参与
                    ，并可带动周边朋友一起分享，从而形成极强的口碑营销效果。
                </p>
            </div>
        </div>
    </div>
    <div class="school_box box4">
        <div class="school_room">
            <img class="bigdot" src="{$url_ali}images/school/bigdot_3.png" />
            <img class="phone" src="{$url_ali}images/school/box4_phone.png" />
            <div class="ad_box">
                <em>营销用语</em>
                <strong>自定义广告语</strong>
                <p>精心定制广告语，精准吸引意向客户，避免垃圾粉丝。提高营销质量，找准客户群体。增强消费概率！</p>
            </div>
            <div class="font_box">
                <p>微活动——优惠券+刮刮卡+大转盘+微投票</p>
                <p>
                    我们将利用微信的强交互性，让您通过对互动流程、环节和方式的设
                    计，运用各种设计活动从而实现与用户的互动交流,，微整合系统互动
                    符合微信娱乐性强的产品本质，微盟内置了专为商家定制的“商家营
                    销服务模块”，包括优惠券推广模块、幸运大转盘推广模块、刮刮卡
                    抽奖模块、微投票、一战到底等功能模块，商家通过发起营销活动，
                    对已有客户进行再营销，通过不断更新补充主题，用户可以反复参与
                    ，并可带动周边朋友一起分享，从而形成极强的口碑营销效果。
                </p>
            </div>
        </div>
    </div>
    <div class="school_box box5">
        <div class="school_room">
            <img class="bigdot" src="{$url_ali}images/school/bigdot_1.png" />
            <img class="dots" src="{$url_ali}images/school/dots_3.png" />
            <div class="line_box box1">
                <img class="line" src="{$url_ali}images/school/line_1.png" />
                <img class="img1" src="{$url_ali}images/school/box5_img1.png" />
                <img class="img2" src="{$url_ali}images/school/box5_img2.png" />
                <div class="ad_box">
                    <em>推送公众号就这么简单</em>
                    <strong>微信公众号关注</strong>
                    <p>1、通过麦粉吧积累客户</p>
                    <p>2、将替在客户引到公众号</p>
                    <p>3、用微信公众号来营销和服务</p>
                    <p>4、用麦粉吧批量推关公众号</p>
                </div>
            </div>
            <div class="line_box box2">
                <img class="line" src="{$url_ali}images/school/line_2.png" />
                <img class="img" src="{$url_ali}images/school/box5_img3.png" />
                <img class="belle" src="{$url_ali}images/school/belle_2.png" />
                <div class="ad_box">
                    <em>推送公众号就这么简单</em>
                    <strong>微信公众号关注</strong>
                    <p>1、通过麦粉吧积累客户</p>
                    <p>2、将替在客户引到公众号</p>
                    <p>3、用微信公众号来营销和服务</p>
                    <p>4、用麦粉吧批量推关公众号</p>
                </div>
                <div class="font_box">
                    <p>微统计——实时数据统计，监控运营效果</p>
                    <p>
                        后台可以实时统计微信公众号的粉丝关注情
                        况和用户语音请求数，根据统计对相关推广营
                        销活动效果及某些敏感因素对您的影响作出判断，并
                        对相关市场行为作出相应调整，从一定程度上实现了对市
                        场的监控与及时应对。
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="Public:foot" />
<script>
    $(function () {
        reset();
        $(window).resize(function () {
            reset();
        })
        $(window).scroll(function () {
            reset();
        })
        function reset() {
            var wt = $(window).scrollTop();
            var wh = $(window).height();
            $(".school_box").each(function () {
                var this_u = 400 - (wh - $(this).offset().top);
                var this_o = 250 - (wh - $(this).offset().top);
                if (wt > this_u) {
                    $(this).addClass("run");
                }
                if (wt > this_o) {
                    $(this).addClass("runs");
                }
            })
        }
    })
</script>
