<include file="Public:head" />
<div class="spitslot_banner_bg">
    <div class="spitslot_banner">
        <img src="{$url_ali}images/about/spitslot_banner.jpg" />
    </div>
</div>
</div>
<div class="spitslot_bg">
    <div class="spitslot_cont">
        <img class="spitslot_title" src="{$url_ali}images/about/spitslot_title.jpg" />
        <div class="spitslot_item">
            <i class="spitslot_num">
                吐槽(<em>58</em>)
            </i>
            <em class="num">
                1<i></i>
            </em>
            <strong class="item_title">寻找我们家的孔雀狗狗</strong>
            <div class="img_box">
                <span></span>
                <img src="{$url_ali}images/about/spitslot_img.jpg" />
            </div>
            <div class="item_text">昨天急着回家抢半价商品，在公园把狗狗丢了，这个是它的照片，很好认！毛发已经染成了孔雀的样子，麻烦找到的同志马上通知我，万分感谢！</div>
        </div>
        <div class="spitslot_item">
            <i class="spitslot_num">
                吐槽(<em>58</em>)
            </i>
            <em class="num">
                2<i></i>
            </em>
            <strong class="item_title">寻找我们家的孔雀狗狗</strong>
            <div class="img_box">
                <span></span>
                <img src="{$url_ali}images/about/spitslot_img.jpg" />
            </div>
            <div class="item_text">昨天急着回家抢半价商品，在公园把狗狗丢了，这个是它的照片，很好认！毛发已经染成了孔雀的样子，麻烦找到的同志马上通知我，万分感谢！</div>
        </div>
        <div class="spitslot_item">
            <i class="spitslot_num">
                吐槽(<em>58</em>)
            </i>
            <em class="num">
                3<i></i>
            </em>
            <strong class="item_title">寻找我们家的孔雀狗狗</strong>
            <div class="img_box">
                <span></span>
                <img src="{$url_ali}images/about/spitslot_img.jpg" />
            </div>
            <div class="item_text">昨天急着回家抢半价商品，在公园把狗狗丢了，这个是它的照片，很好认！毛发已经染成了孔雀的样子，麻烦找到的同志马上通知我，万分感谢！</div>
        </div>
        <div class="spitslot_item">
            <i class="spitslot_num">
                吐槽(<em>58</em>)
            </i>
            <em class="num">
                4<i></i>
            </em>
            <strong class="item_title">寻找我们家的孔雀狗狗</strong>
            <div class="img_box">
                <span></span>
                <img src="{$url_ali}images/about/spitslot_img.jpg" />
            </div>
            <div class="item_text">昨天急着回家抢半价商品，在公园把狗狗丢了，这个是它的照片，很好认！毛发已经染成了孔雀的样子，麻烦找到的同志马上通知我，万分感谢！</div>
        </div>
        <div class="spitslot_item">
            <i class="spitslot_num">
                吐槽(<em>58</em>)
            </i>
            <em class="num">
                5<i></i>
            </em>
            <strong class="item_title">寻找我们家的孔雀狗狗</strong>
            <div class="img_box">
                <span></span>
                <img src="{$url_ali}images/about/spitslot_img.jpg" />
            </div>
            <div class="item_text">昨天急着回家抢半价商品，在公园把狗狗丢了，这个是它的照片，很好认！毛发已经染成了孔雀的样子，麻烦找到的同志马上通知我，万分感谢！</div>
        </div>
        <div class="spitslot_item">
            <i class="spitslot_num">
                吐槽(<em>58</em>)
            </i>
            <em class="num">
                6<i></i>
            </em>
            <strong class="item_title">寻找我们家的孔雀狗狗</strong>
            <div class="img_box">
                <span></span>
                <img src="{$url_ali}images/about/spitslot_img.jpg" />
            </div>
            <div class="item_text">昨天急着回家抢半价商品，在公园把狗狗丢了，这个是它的照片，很好认！毛发已经染成了孔雀的样子，麻烦找到的同志马上通知我，万分感谢！</div>
        </div>
        <div class="spitslot_linkbox">
            <strong class="link_title">历史吐槽榜</strong>
            <a class="spitslot_link">吐槽榜01期</a>
            <a class="spitslot_link">吐槽榜02期</a>
            <a class="spitslot_link">吐槽榜03期</a>
            <a class="spitslot_link">吐槽榜04期</a>
            <a class="spitslot_link">吐槽榜05期</a>
            <a class="spitslot_link">吐槽榜06期</a>
            <a class="spitslot_link">吐槽榜07期</a>
            <a class="spitslot_link">吐槽榜08期</a>
            <a class="spitslot_link">吐槽榜09期</a>
            <a class="spitslot_link">吐槽榜10期</a>
            <a class="spitslot_link">吐槽榜11期</a>
            <a class="spitslot_link">吐槽榜12期</a>
            <a class="spitslot_link">吐槽榜13期</a>
            <a class="spitslot_link">吐槽榜14期</a>
            <a class="spitslot_link">吐槽榜15期</a>
        </div>
        <div class="spitslot_bottom">
            <span>2025552</span>
        </div>
    </div>
</div>
<include file="Public:foot" />